body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
  font-size: 2em;
}

.nav-wrapper .fa-signout{
  font-size: 1.5em;
}

.blue-hover:hover {
  background-color: #039be5;
}

.story-text{
  height: 120px;
}

.story-user-chip{
  margin-top: 10px;
}

.card{
  margin-bottom: 5em;
}

.dash-status{
text-transform: capitalize;  
}

#deleteForm{
  display: inline;
}

.position{
  margin: 3px;
}

footer{
  margin-top: 20px;
}